$bgcolor = #D5D5EA
$textcolor = #9671F1

body
  font-family 'Bungee Inline', cursive;
  background-color $bgcolor
  color $textcolor

.none
  display none !important

h1
  text-align center

.generate-player-container
  text-align center

  .generate-player-btn
    font-family 'Bungee Inline', cursive;
    padding 10px 20px
    background $textcolor
    font-weight 600
    border-radius 50px
    text-decoration none
    color #fff

  .players
    text-align center
    padding 0

    li
      list-style none
      display block
      margin 10px

   .start-dishing-btn
     font-size 40px
     border-bottom 3px dashed $textcolor
     text-decoration none
     color $textcolor
     margin 30px 0
     display inline-block

.dishing-container
  margin 30px 0

  h2
    font-size 30px
    text-align center